# Basics

In [2]:
print('a=24')

a=24

In [3]:
a = 24
print(f"I am {a} years old")

I am 24 years old

In [4]:
print("I am",a,"year old")

I am 24 year old

In [5]:
a=24
b=23
c=12
print(a+b+c)

59

In [6]:
inp=input("enter a number")
print("i am",inp,"years old")

enter a number21
i am 21 years old

In [8]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
s=num1/num2
print(s)

enter first number:25
enter second number:5
5.0

In [9]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
s=num1//num2
print(s)

enter first number:25
enter second number:5
5

In [11]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
s=num1-num225
print("the value is ",s)

enter first number:25
enter second number:2
the value is  23

In [12]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
s=num1*num2
print(s)

enter first number:25
enter second number:9
225

In [13]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
s=num1%num2
print(s)

enter first number:25
enter second number:2
1

In [3]:
password="soumya"
code=3625
p=input("enter the password:")
ps=int(input("enter the code:"))
if p==password and ps==code:
    print("welcome")
else:
    print("try again")

enter the password:soumya
enter the code:3625
welcome

In [4]:
password="soumya"
code=3625
p=input("enter the password:")
ps=int(input("enter the code:"))
if p==password or ps==code:
    print("welcome")
else:
    print("try again")

enter the password:soumya
enter the code:895
welcome

In [14]:
s="hello how are you?"
print(s[0:5])
print(s[14:17])  #+ve index
print(s[-4:-1])  #-ve index
len(s)

hello
you
you

18

In [2]:
s="hello how are you"
for i in range(0,5):
    print(s[i])

h
e
l
l
o

In [12]:
s=[1,2,3,4,5,6]
fact=1
i=1

while i<=5:
    fact=fact*i
    i=i+1
print(fact)

120

In [1]:
s=0
i=0
while i<6:
    s+=i
    i+=1
    print(s)

0
1
3
6
10
15

# collections

In [20]:
#muteable  #heterogenuous accepts duplicate 
list1=[2,8,2.8,'like',8,True]
print(list1)
list1.append('chummi')
list1.insert(5,'yash')
print(list1)

[2, 8, 2.8, 'like', 8, True]
[2, 8, 2.8, 'like', 8, 'yash', True, 'chummi']

In [21]:
list1.pop(2)

2.8

In [22]:
list1.clear()
print(list1)

[]

In [23]:
list2=[52,42,63,85]
list3=[52,63,8,6,963]
print(list2+list3)

[52, 42, 63, 85, 52, 63, 8, 6, 963]

In [25]:
list5=[63,52,25,51]
list5.sort(reverse=True)
list5

[63, 52, 51, 25]

In [27]:
list6=["apple","banana","chikku","orange"]
list6.sort(reverse=True)
list6

['orange', 'chikku', 'banana', 'apple']

In [33]:
list6=[19,35,25,91,25,78]  #changes are not reflected in original list
list7=sorted(list6)
list7

[19, 25, 25, 35, 78, 91]

In [37]:
for i in list6:
    print(i*i)

361
1225
625
8281
625
6084

In [38]:
listnew=[i*i for i in list6]  #output for list name
listnew

[361, 1225, 625, 8281, 625, 6084]

In [39]:
listnew=[i*2 for i in list6]  #output for list name
listnew

[38, 70, 50, 182, 50, 156]

In [6]:
list6=[77,12,33,99,102]
s=[]
for i in list6:
    if i>50:
        s.append(i*i)
s

[5929, 9801, 10404]

In [7]:
slc=[i*i for i in list6 if i>50]
slc

[5929, 9801, 10404]

In [8]:
marks=[92,78,89,98,100]
grades=[]
for i in marks:
    if i>90:
        grades.append('A')  #body of if
    else:
        grades.append('B')   #body of else

In [9]:
grades

['A', 'B', 'B', 'A', 'A']

In [14]:
gradeslc=["A" if i>90 else "B" for i in marks]
gradeslc

['A', 'B', 'B', 'A', 'A']

In [15]:
sal=[19000,78000,10000,56000,45000,12000]
final=[]
for i in sal:
    if i>50000:
        tax=i*0.1
        total=i-tax
        final.append(total)
    else:
        tax=i*0.05
        total=i-tax
        final.append(total)
final

[18050.0, 70200.0, 9500.0, 50400.0, 42750.0, 11400.0]

In [17]:
finalslc=[i-1*0.1 if i>50000 else i-i*0.05 for i in sal]
finalslc

[18050.0, 77999.9, 9500.0, 55999.9, 42750.0, 11400.0]

In [18]:
list2=[25,45,63,98,58]
list3=[62,79,52,69,12]
for i,j in zip(list2,list3):
    print(i+j)

87
124
115
167
70

In [19]:
tup2=(90,45,67)
print(max(tup2))
print(min(tup2))
print(len(tup2))

90
45
3

In [22]:
tup1=[34,55,'hello','hi']
tup1

[34, 55, 'hello', 'hi']

In [23]:
tup3=sorted(tup2)
tup3

[45, 67, 90]

# Dictionary

In [24]:
dict1={1:"ammu",2:"yashu",3:"chottu"}
dict1

{1: 'ammu', 2: 'yashu', 3: 'chottu'}

In [28]:
dict1={1:"yashu",1:"yashu",3:"chottu"}
dict1

{1: 'yashu', 3: 'chottu'}

In [32]:
dict2={'name':"chummi","hobbies":['reading','cooking','playing']}
print(dict2['hobbies'])

['reading', 'cooking', 'playing']

In [33]:
dict2.keys()

dict_keys(['name', 'hobbies'])

In [35]:
dict2.values()

dict_values(['chummi', ['reading', 'cooking', 'playing']])

In [36]:
dict2.items()

dict_items([('name', 'chummi'), ('hobbies', ['reading', 'cooking', 'playing'])])

In [46]:
print(dict2['hobbies'][1])

cooking

In [45]:

#set
s1=[6,5,58,85,85]
s1

[6, 5, 58, 85, 85]