# DT and RF alogorithms

#decesion tree alg to crime_rate

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv(r"C:\Users\ssaro\Downloads\demodt.txt")

In [3]:
df

   State  Literacy  Cleanliness  Crime_Rate  Good
0      A        92           90          54     0
1      B        56           67          50     1
2      C        78           85          62     0
3      D        63           72          48     1
4      E        85           79          55     0
5      F        71           68          58     0
6      G        80           83          51     0
7      H        67           74          47     1
8      I        89           88          53     0
9      J        58           65          49     1
10     K        82           81          60     0
11     L        75           78          57     0
12     M        69           70          46     1
13     N        87           86          52     0
14     O        61           63          45     1
15     P        93           91          56     0
16     Q        55           66          61     0
17     R        76           77          59     0
18     S        84           82          44     1
19     T        70           69          50     1
20     U        94           92          57     0
21     V        59           64          52     0
22     W        83           80          43     1
23     X        74           76          63     0
24     Y        68           73          41     1
25     Z        88           84          47     1

In [4]:
df.isnull().sum()

State          0
Literacy       0
Cleanliness    0
Crime_Rate     0
Good           0
dtype: int64

In [12]:
ind=df[['Literacy','Cleanliness','Crime_Rate']]
dep=df['Good']

In [13]:
DT=DecisionTreeClassifier()
DT.fit(ind,dep)

DecisionTreeClassifier()

In [15]:
a=int(input("enter Literacy  :"))
b=int(input("enter Cleanlines"))
c=int(input("enter Crime_rate"))
out=DT.predict([[a,b,c]])
if out==1:
    print("good state")
else:
    print("bad state")

enter Literacy  :55
enter Cleanlines25
enter Crime_rate14
good state

C:\Users\ssaro\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

#decision tree alg to diabetes

In [4]:
#diabetes(DT)
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [5]:
df=pd.read_csv(r"C:\Users\ssaro\Downloads\diabetcsv2.csv")
df

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [6]:
df.isnull().sum()

preg     0
plas     0
pres     0
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [8]:
ind=df[['preg','plas','pres','skin','insu','mass','pedi','age']]
dep=df['class']

In [9]:
DT=DecisionTreeClassifier()
DT.fit(ind,dep)

DecisionTreeClassifier()

In [10]:
y=float(input("enter preg:"))
x=int(input("enter plasma:"))
z=float(input("enter blood pressure:"))
a=float(input("enter skin color:"))
b=float(input("enter insulin:"))
p=float(input("enter your mass:"))
q=float(input("enter peddy:"))
r=float(input("enter your age:"))
out=DT.predict([[y,x,z,a,b,p,q,r]])
print("the predicted class is",out[0])

enter preg:2
enter plasma:3
enter blood pressure:45
enter skin color:6
enter insulin:3
enter your mass:54
enter ipeddy:1
enter your age:21
the predicted class is tested_negative

C:\Users\ssaro\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

# RANDOM FOREST

#state(RF)
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

#random forest alg to crime_rate

In [20]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [21]:
df=pd.read_csv(r"C:\Users\ssaro\Downloads\demodt.txt")
df

   State  Literacy  Cleanliness  Crime_Rate  Good
0      A        92           90          54     0
1      B        56           67          50     1
2      C        78           85          62     0
3      D        63           72          48     1
4      E        85           79          55     0
5      F        71           68          58     0
6      G        80           83          51     0
7      H        67           74          47     1
8      I        89           88          53     0
9      J        58           65          49     1
10     K        82           81          60     0
11     L        75           78          57     0
12     M        69           70          46     1
13     N        87           86          52     0
14     O        61           63          45     1
15     P        93           91          56     0
16     Q        55           66          61     0
17     R        76           77          59     0
18     S        84           82          44     1
19     T        70           69          50     1
20     U        94           92          57     0
21     V        59           64          52     0
22     W        83           80          43     1
23     X        74           76          63     0
24     Y        68           73          41     1
25     Z        88           84          47     1

In [22]:
df.isnull().sum()

State          0
Literacy       0
Cleanliness    0
Crime_Rate     0
Good           0
dtype: int64

In [23]:
ind=df[['Literacy','Cleanliness','Crime_Rate']]
dep=df['Good']

In [24]:
RF=RandomForestClassifier()
RF.fit(ind,dep)

RandomForestClassifier()

In [28]:
a=int(input("enter Literacy  :"))
b=int(input("enter Cleanlines:"))
c=int(input("enter Crime_rate:"))
out=RF.predict([[a,b,c]])
if out==1:
    print("good state")
else:
    print("bad state")

enter Literacy  :1
enter Cleanlines:21
enter Crime_rate:45
good state

C:\Users\ssaro\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

#random forest alg to diabetes

In [29]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [30]:
df=pd.read_csv(r"C:\Users\ssaro\Downloads\diabetcsv2.csv")
df

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [31]:
df.isnull().sum()

preg     0
plas     0
pres     0
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [32]:
ind=df[['preg','plas','pres','skin','insu','mass','pedi','age']]
dep=df['class']

In [33]:
RF=RandomForestClassifier()
RF.fit(ind,dep)

RandomForestClassifier()

In [34]:
y=float(input("enter preg:"))
x=int(input("enter plasma:"))
z=float(input("enter blood pressure:"))
a=float(input("enter skin color:"))
b=float(input("enter insulin:"))
p=float(input("enter your mass:"))
q=float(input("enter peddy:"))
r=float(input("enter your age:"))
out=RF.predict([[y,x,z,a,b,p,q,r]])
print("the predicted class is",out[0])

enter preg:22
enter plasma:21
enter blood pressure:80
enter skin color:6
enter insulin:15
enter your mass:50
enter peddy:15
enter your age:21
the predicted class is tested_negative

C:\Users\ssaro\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(